pages/inbox.md
pages/what you see.md
logseq/bak/*
logseq/version-files/*
logseq/.recycle/*
.obsidian/*

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
pages/templates.md
pages/가난한 찰리의 연감.md
pages/private.md
pages/부의 몰락.md
