pages/inbox.md
pages/what you see.md
logseq/bak/*
logseq/version-files/*
logseq/.recycle/*
.obsidian/*

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
