<!DOCTYPE html>
<html>
    {% include header.html %}
    <header class="post-header">
        <h1 class="page-title">
            <a href="{{ page.url }}"> {{ page.title }} </a>
        </h1>
        <p class="date" style="text-align:right">
        created: {{ page.date | date: "%Y/%m/%d" }}
        {% if page.updated != null %}
        <br />updated: {{ page.updated | date: "%Y/%m/%d" }}
        {% endif %}
				<br />{% assign thisName = page.id | remove: '/blog/' %}<a href="{{ site.blame }}/{{ thisName }}.md">원본보기</a>
        </p>
    </header>
    <body>
        <hr />
        <div class="page-content">
            <div class="post">
                {{ content }}
            </div>
        </div>
        {% include createLink.html %}
        {% include footer.html %}
    </body>
</html>
